.App {
  margin: 0;
  padding: 0;

  min-width: 100vw;
  min-height: 100vh;

  text-align: center;

  background: #D1A597 url("./img/Salt&Pepper.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  
}

