.cards {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #444;
  
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 1rem;
}

.NavContainer {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
}

.cardsContainer {
  flex-grow: 1;
}

.container {
  display: flex;

}

