.recipeInfoContainer {
  
  display: flex;
  justify-content: center;
  padding: 5%;
}

#dietsInfo {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.infoCard {
  position: relative;

  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 0.5rem;

  

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infoCard h1 {
  font-size: 3rem;
  text-align: start;
  padding: 1rem 3rem;
}

.infoCard img {
  border-radius: 1rem;
  border: solid 3px black;

  margin: 1rem 3rem;
  max-width: 30rem;

  object-fit: cover;
  width: inherit;

  aspect-ratio: calc(19/9);
}

.infoCard h3 {
  font-size: 1.2rem;
  margin: 0.5rem 2rem 0.7rem 2rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infoCard h5 {

  white-space: nowrap;

  display: inline;
  font-size: 0.6rem;
  color: white;
  font-weight: normal;

  background-color: #CC3E48;
  padding: 4px 6px;
  border-radius: 5px;
}

.infoCard span {
  
  padding: 0.2rem 0.4rem;
  background-color: white;
  border-radius: 8px;

  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1px;
}