nav {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  padding: 0 30px;

  width: 290px;
  max-height: 95vh;
  border-radius: 13px;
  
  position: sticky;
  top: 20px;
  margin-left: 20px;  
}

nav select {
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

hr {
  color: black;
  width: -webkit-fill-available;
}